.landing-container {
  background-image: url("/public/bgImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
}

.landing-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #446144;
}

.landing-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #446144;
}

.store-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #669966;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.store-button:hover {
  background-color: #446144;
}
